body {
    background-color: black;
    color: white;
    font-family: 'Lore', sans-serif;
}

@font-face {
    font-family: Lore;
    src: url(./font/Alphabetfriends-Regular.ttf);
}

/* layout */

img {
    width: 100%;
}

button {
    background-color: black;
    color: white;
    width: 20%;
    border: 3px white dashed;
    border-radius: 20px;
    font-size: 20px;
    cursor: pointer;
}

.footer {
    margin-bottom: 0;
}

.title,
.footer {
    text-align: center;
    font-size: 80px;
}

/* header modal */
.modal {
    /* display: none; */
    background-color: black;
    position: fixed;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    border: 5px dotted white;
    z-index: 100;
}

.start-btn,
.reset-btn {
    display: flex;
    justify-content: center;
}

.rule-book {
    margin-top: 45px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    font-size: 1.9rem;
}

ul {
    margin: 0;
    list-style: none;
    line-height: 2;
}

/* fail modal */
.fail-modal {
    display: none;
    background-color: black;
    position: fixed;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    /* z-index: 101; */
    background: url('./images/f.gif');
    width: 100%;
}

.fail-text {
    text-align: center;
    color: black;
}

/* player container */
.container {
    display: flex;
    justify-content: space-around;
    margin-bottom: 20px;
    overflow: hidden;
    position: sticky;
    top: 0;
    background-color: black;
}

.player-one,
.player-two {
    text-shadow: 2px 2px 2px black;
    padding: 5px;
}

.active {
    background-color: rgb(143, 143, 74);
    border-radius: 10px;
}

.black {
    background-color: black;
}
/* cards root */
.root-container {
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    gap: .5rem;
}

/* modal two */
.modal-footer {
    display: none;
    background-color: black;
    position: fixed;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    margin: auto;
    border: 5px dotted white;
    z-index: 99;
}

.end-img {
    width: 50%;
    margin-top: 20px;
}

.footer-img {
    display: flex;
    justify-content: center;
    gap: 20px;
    width: 100%;
    margin-bottom: 20px;
}

@media screen and (max-width: 500px) {
    
    img {
        width: 100px;
    }

    .container {
        font-size: 10px;
        text-align: center;
        margin: 20px;
    }

    .dice {
        font-size: 15px;
        padding: 10px;
        margin: 20px;
    }

    button {
        width: 100%;
    }

    .end-img {
        width: 200px;
    }

    .title,
    .footer {
    text-align: center;
    font-size: 40px;
}
}
