body {
    background-color: black;
    color: white;
    font-family: 'Lore', sans-serif;
}

@font-face {
    font-family: Lore;
    src: url(./font/Alphabetfriends-Regular.ttf);
}

.title,
.footer {
    text-align: center;
    font-size: 80px;
}

.container {
    display: flex;
    justify-content: space-around;
    margin-bottom: 20px;
}

.root-container {
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    gap: .5rem;
}

img {
    width: 100%;
}

.footer-img {
    display: flex;
    justify-content: center;
    gap: 20px;
    width: 100%;
    margin-bottom: 20px;
}

@media screen and (max-width: 400px) {
    img {
        width: 100px;
    }
}